.title {
    font-family: Snell Roundhand, cursive;
    color:#f8f8ff;
    font-size:6vh;
    text-align:left;
    padding-left: 20%;
}

#left {
    float: left;
    background-color:black;
    width:50%;
}

.right {
    background-image: url("../img/celebration.png");
    text-align: center;
    width:50%;
    float:right;
}

.desc {
    font-family: Snell Roundhand, cursive;
    color:#f8f8ff;
    font-size: 3vh;
}

#box {
    display: flex;
}

#left img {
    width: 90%;
    margin:35px;
    border-style:double;
    border-color:#f8f8ff;
}
