.author {
    text-align:center;
}

body {
    background-color: gray;
}

.box-1 img {
    width: 95%;
    padding-left:2.5%;
    padding-right:2.5%;
}

/* headshot */
.box-1 {
    width:100%;
    flex:1;
    order:1;
}

/* class */
.box-2 {
    width:100%;
    flex:1;
    order:2;
}

/* annoucement */
.box-3 {
    width:100%;
    flex:1;
}

/* name */
.box-4 {
    width:100%;
    flex:1;
}

/* school */
.box-5 {
    width:100%;
    flex:1;
}

/* quote */
.box-6 {
    width:100%;
    flex:1;
}

/* all text */
.box-7 {
    width:100%;
    flex:1;  
}

.container-1 {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    background-color:black;
    color:white;
}

.title, p {
    font-family: Snell Roundhand, cursive;
}

@media only screen and (max-width: 420px) {
    /* headshot */
    .box-1 {
        order:2;
    }

    /* class */
    .box-2 {
        order:1;
        font-size:120%;
        text-align:center;
        margin-top:-2vh;
        margin-bottom:-3vh;
    }

    /* annoucement */
    .box-3 {
        order:3;
        font-size:140%;
        text-align:center;
        margin-top:-2vh;
    }

    /* name */
    .box-4 {
        order:4;
        font-size:120%;
        text-align:center;
        margin-top:-6vh;
    }

    /* school */
    .box-5 {
        order:5;
        font-size:140%;
        text-align:center;
        margin-top:-6vh;
        margin-bottom:-4vh;
    }

    /* quote */
    .box-6 {
        order:6;
        text-align:center;
    }

    /* all text */
    .box-7 {
        display:none;    
    }
}

@media only screen and (min-width: 421px) and (max-width: 767px) {
    /* headshot */
    .box-1 img {
        width:85vh;
        padding-top:2.5%;
        padding-bottom:2.5%;
    }

    /* class */
    .box-2 {
        display:none;
    }

    /* annoucement */
    .box-3 {
        display:none;
    }

    /* name */
    .box-4 {
        display:none;
    }

    /* school */
    .box-5 {
        display:none;
    }

    /* quote */
    .box-6 {
        display:none;
    }

    /* all text */
    .box-7 {
        order:7;

    }
    
    .container-1 {
        flex-direction: row;
        margin-top:3%;
        width:52%;
    }
}